/* 
    'intuitive' box-sizing model
*/ 

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
    reminder to change these or to get ttf files in the right place
*/
@font-face {
    font-family: "ibm-bold";
    src: url(/fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: "ibm-regular";
    src: url(/fonts/IBMPlexSans-Regular.ttf);
}

:root {
    font-family: "ibm-bold";
    font-size: 1em;
    --color1: #272946;
    --color2: #aaea6c;
    --color3: #e7ffee;
    --color4: #3f416c;
}

body,
html {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1)
}